/* ================================================== */
/* Тело */
#body
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
/* ==================================================================================================== */
/* ------------------------------------------------Голова---------------------------------------------- */
.header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 20px 0 20px 0;
}
/* ================================================== */
/* Бургер */
#burger
{
    display: none;
    margin-right: 40px;
}
/* ================================================== */
/* Задний фон бургера */
#backgroundBurger
{
    display: none;
    position: absolute;
    width: 80%;
    height: 50%;
    bottom: -500px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F2EFE9;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 2;
    transition: 0.5s;
}
/* ================================================== */
/* Поиск */
.search__container
{
    position: relative;
    width: 50%;
    margin: 0 auto;
}
.search__input
{
    border: none;
    outline: none;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    background-color: #E8DDD2;
    font-family: 'Gilroy', sans-serif;
    font-size: 12pt;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}
.search__input[type="search"]::-webkit-search-cancel-button /* Убираем крестик у поисковика */
{
    display: none;
}
.search__button
{
    position: absolute;
    border: none;
    cursor: pointer;
    top: 50%;
    left: 100%;
    transform: translate(-150%, -50%);
}
/* ================================================== */
/* Выход */
#user
{
    font-size: 14pt;
    text-decoration: underline;
    margin-right: 10px;
    font-weight: 600;
    color: #333333;
}
.exit__button
{
    fill: #3D2C2C;
}
#exit
{
    display: flex;
    margin-right: 40px;
    cursor: pointer;
}
/* ==================================================================================================== */
/* ----------------------------------------Дополнительные вкладки-------------------------------------- */
#body__training
{
    display: flex;
    margin: 0 40px 20px 40px;
    justify-content: space-around;
}
#body__training > div
{
    cursor: pointer;
}
#body__user
{
    display: flex;
    margin: 0 40px 20px 40px;
    justify-content: space-around;
}
#body__user > div
{
    cursor: pointer;
}
.tab_active
{
    color: #333333;
    font-weight: 600;
}
/* ==================================================================================================== */
/* ---------------------------------------------Вид карточек------------------------------------------- */
/* Кнопка изменения вида */
#view-cards
{
    display: flex;
    justify-content: flex-end;
    margin: 0 40px;
}
#title-category
{
    margin: 0 auto;
    color: #333333;
    font-size: 40px;
    padding-left: 100px;
}
.switch
{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 50px;
}
.switch input
{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider
{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background-color: #F1EBE1;
    border: 1px solid #E8DDD2;
    transition: .4s;
    border-radius: 10px;
}
.slider:before
{
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    left: 0px;
    bottom: 0px;
    background-color: #DFD3C3;
    transition: .4s;
    border-radius: 5px;
}
input:checked + .slider:before
{
    transform: translateX(50px);
}
/* ==================================================================================================== */
/* -------------------------------------------------Тело----------------------------------------------- */
#body__container
{
    position: relative;
    display: flex;
    overflow-y: auto;
    height: 100%;
    margin: 20px 40px 0px 40px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    background-color: #F2EFE9;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.button-all
{
    position: fixed;
    margin-top: -101px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80px;
    background-color: #E8DDD2;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 32px;
    color: #333333;
    cursor: pointer;
    z-index: 5;
}
/* ================================================== */
/* Категория */
.body__categories
{
    display: flex; 
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.group-category
{
    display: flex;
    width: 100%;
    justify-content: center;
    color: #2D2D2D;
    font-size: 40px;
    margin: 10px 0;
}
.category__container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.category
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    height: 250px;
    background-color: #CDB7A0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
}
.category-picture
{
    width: 200px;
    height: 150px;
    outline: 1px solid #735C4F;
    border-radius: 10px;
}
.category-title
{
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 24px;
    color: #2D2D2D;
    margin: 10px 0;
}
.category-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    font-size: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(148, 160, 130, 0.5);
    color: #F9F6F2;
}
/* ================================================== */
/* Пользовательская категория */
.containerForButton
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.buttonTrain
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: rgba(148, 160, 130, 0.5);
    font-size: 16px;
    height: 30px;
    width: 60%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.buttonDelete
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #A08294;
    font-size: 16px;
    height: 30px;
    width: 40%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* ================================================== */
/* Добавление пользовательской категории */
.customCategory
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    background-color: #F9F6F2;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
}
.buttonCustomCategory
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 215px;
    background-color: rgba(232, 221, 210, 0.5);
    border-radius: 15px;
    border: 1px solid #735C4F;
    color: #735C4F;
    font-size: 28pt;
}
/* ================================================== */
/* Форма для добавления пользовательской категории */
.backgroundModalWindow
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}
.formUserCustomCategories
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: #F2EFE9;
    z-index: 101;
    border-radius: 20px;
}
.labelFormUserCustomCategories
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: rgba(217, 217, 217, 0.3);
    border-radius: 10px;
    font-size: 20pt;
    background-repeat: no-repeat;
    background-size: cover;
}
.inputPictureFormUserCustomCategories
{
    position: absolute;
    top: 65px;
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 0;
    z-index: 99;
}
.inputTitleFormUserCustomCategories
{
    width: 80%;
    background-color: rgba(232, 221, 210, 0.5);
    font-size: 20pt;
    text-align: center;
}
.buttonFormUserCustomCategories
{
    position: absolute;
    bottom: 0;
    margin: 0;
    background-color: #94A082;
    color: #FFFFFF;
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#exitFormUserCustomCategories
{
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 10px 10px 0 0;
}
/* ================================================== */
/* Открытая карточка */
.openCard
{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: auto;
    background-color: #F2EFE9;
    z-index: 101;
    border-radius: 20px;
}
.pictureForOpenCard
{
    display: flex;
    margin-left: 30px;
}
.pictureForOpenCard > img
{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid #735C4F;
    margin: 25px 10px 0 25px;
}
.cardButtonAddForOpenCard
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    width: 95px;
    height: 50px;
    background-color: #E8DDD2;
    border-radius: 15px;
    font-size: 48px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.transcription
{
    margin-top: 10px;
    font-size: 32px;
    color: #2D2D2D;
    text-align: center;
}
.context
{
    margin: 10px 0;
    font-size: 32px;
    color: #2D2D2D;
    text-align: center;
}
/* ================================================== */
/* Карточка */
.body__cards-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card
{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 330px;
    background-color: #CDB7A0;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-picture
{
    display: flex;
}
.card-picture > img
{
    width: 130px;
    height: 130px;
    border-radius: 20px;
    border: 1px solid #735C4F;
    margin: 25px 10px 0 25px;
}
.card-word
{
    margin: 10px 0 0 10px;
    font-size: 40px;
    font-weight: 600;
    color: #2D2D2D;
}
.card-translate
{
    margin-left: 10px;
    font-size: 32px;
    color: #2D2D2D;
}
.card-buttons
{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.card-button-add
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 50px;
    background-color: #E8DDD2;
    border-radius: 15px;
    font-size: 48px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-button-train
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 50px;
    background-color: #E8DDD2;
    border-radius: 15px;
    font-size: 32px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-button-sound
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 50px;
    background-color: #E8DDD2;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-button-sound:active
{
    background-color: #8294A0;
}
.card-button-delete
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 50px;
    background-color: #E8DDD2;
    border-radius: 15px;
    font-size: 32px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.enter-button
{
    background-color: #E8DDD2;
    border-color: black;
}
.enter-button:active
{
    background-color: #94A082;
}
.entered-button
{
    background-color: #94A082;
}
.entered-button:active
{
    background-color: #E8DDD2;
}
/* ================================================== */
/* Добавление пользовательской карточки */
.customCard
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 330px;
    background-color: #F9F6F2;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
}
.buttonCustomCard
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 290px;
    background-color: rgba(232, 221, 210, 0.5);
    border-radius: 15px;
    border: 1px solid #735C4F;
    color: #735C4F;
    font-size: 28pt;
}
/* ================================================== */
/* Форма для добавления пользовательской карточки */
.formUserCustomCard
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 730px;
    background-color: #F2EFE9;
    z-index: 101;
    border-radius: 20px;
}
.labelFormUserCustomCard
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: rgba(217, 217, 217, 0.3);
    border-radius: 10px;
    font-size: 20pt;
    background-repeat: no-repeat;
    background-size: cover;
}
.inputPictureFormUserCustomCard
{
    position: absolute;
    top: 70px;
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 0;
    z-index: 99;
}
.containerForLevelFormUserCustomCard
{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.titleLevelFormUserCustomCard
{
    width: 40%;
    background-color: rgba(232, 221, 210, 0.5);
    font-size: 20pt;
    text-align: center;
}
.contextFormUserCustomCard
{
    width: 80%;
    height: 100px;
    background-color: rgba(232, 221, 210, 0.5);
    font-size: 20pt;
    text-align: center;
    border: 1px solid #999999;
    border-radius: 10px;
}
/* ================================================== */
/* Вкладка тренировка: Интервальное повторение */
#dailyWorkout
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#counter
{
    color: #000;
}
#nativeWord
{
    color: #000;
}
#targetWord
{
    width: 350px;
    height: 50px;
    background-color: #E8DDD2;
    border: none;
}
#incorrectAnswer
{
    display: none;
    color: #8A666A;
}
#correctAnswer
{
    display: none;
    color: #718A66;
}
#buttonFurther
{
    width: 250px;
    height: 50px;
    background-color: #CDB7A0;
    color: #000;
    border: none;
}
/* ================================================== */
/* Вкладка тренировка: Тренировать слова */
#practiceWords
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.exercisePicture
{
    display: none;
    margin: 10px 0 10px 0;
    width: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}
#matchingWords
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#containerForTargetWord
{
    display: flex;
    flex-direction: row;
}
.containerForTargetLetters
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 25pt;
    color: #000;
}
#writeTheWord
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#buttonCheck
{
    width: 250px;
    height: 50px;
    background-color: #CDB7A0;
    color: #000;
    border: none;
}
#buttonNext
{
    display: none;
    width: 250px;
    height: 50px;
    background-color: #CDB7A0;
    color: #000;
    border: none;
}
/* ================================================== */
/* Вкладка тренировка: настройки */
#settings__container
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.settings__card
{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-around;
    width: 300px;
    height: 200px;
    border-radius: 30px;
    background-color: #E8DDD2;
}
/*--------------------------------------------------*/
.active-picture
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*--------------------------------------------------*/
/* Переключатель для карточки*/
.switch-settings
{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch-settings input
{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider-settings
{
    position: absolute;
    cursor: pointer;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background-color: #F9F6F2;
    transition: .4s;
    border-radius: 34px;
}
.slider-settings:before
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #E8DDD2;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider-settings
{
    background-color: #8294A0;
}
input:checked + .slider-settings:before
{
    transform: translateX(26px);
}
/*--------------------------------------------------*/
.active-picture__picture
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #F2EFE9;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.25);
    border-radius: 10px;
}
/*--------------------------------------------------*/
.active-setting
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.active-setting__button
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17pt;
    width: 35px;
    height: 35px;
    background-color: #F9F6F2;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.active-setting__button:active
{
    background-color: #94A082;
}
.active-setting__button__entered
{
    background-color: #94A082;
}
.active-setting__button__entered:active
{
    background-color: #F9F6F2;
}
.active-setting__label
{
    width: 50%;
    text-align: center;
}
/* ==================================================================================================== */