/* ==================================================================================================== */
/* ------------------------------------------------1200px---------------------------------------------- */
@media (max-width: 1200px)
{
    /* ================================================== */
    /* Общие настройки */
    input
    {
        width: 350px;
        height: 50px;
    }
    button
    {
        width: 350px;
        height: 50px;
    }
    /* ================================================== */
    /* Тело */
    #body__container
    {
        margin: 20px 25px 0px 25px;
    }
    /* ================================================== */
    /* Вход / Регистрация */
    .enter-register__logo
    {
        justify-content: center;
        align-items: center;
    }
    .enter-register__logo-icon
    {
        border: 6px solid #735C4F;
        width: 80px;
        height: 80px;
        font-size: 48px;
        border-radius: 15px;
    }
    .enter-register__logo-text
    {
        font-size: 96px;
    }
    .enter-register__description
    {
        font-size: 24px;
        max-width: 467px;
    }
    #form-enter
    {
        flex: 0.5;
    }
    #form-register
    {
        flex: 0.5;
    }
    /* ================================================== */
    /* Тренировать слова */
    .containerForTargetLetters
    {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        font-size: 20pt;
    }
    /* ================================================== */
    /* Упражнения */
    .targetWordFormationOfAWord{
        width: 250px;
    }
    .nativeWordFormationOfAWord{
        width: 250px;
    }
    /* ================================================== */
}
/* ==================================================================================================== */
/* ------------------------------------------------992px----------------------------------------------- */
@media (max-width: 992px)
{
    /* ================================================== */
    /* Общие настройки */
    input
    {
        width: 500px;
        height: 50px;
    }
    button
    {
        width: 500px;
        height: 50px;
    }
    /* ================================================== */
    /* Вход / Регистрация */
    #enter-register
    {
        flex-direction: column;
    }
    #form-enter
    {
        flex: 1;
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }
    #form-register
    {
        flex: 1;
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    }
    /* ================================================== */
    /* Упражнения */
    .targetWordFormationOfAWord{
        width: 180px;
    }
    .nativeWordFormationOfAWord{
        width: 180px;
    }
    /* ================================================== */
}
/* ==================================================================================================== */
/* ------------------------------------------------768px----------------------------------------------- */
@media (max-width: 768px)
{
    /* ================================================== */
    /* Меню */
    #menu
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        height: 110px;
        width: 100%;
        border-bottom-right-radius: 0;
        border-top-left-radius: 30px;
        z-index: 4;
    }
    .menu__logo
    {
        display: none;
    }
    #menu__grammar
    {
        align-items: center;
        flex-direction: column;
        padding: 10px;
        width: auto;
    }
    #menu__cards
    {
        align-items: center;
        flex-direction: column;
        padding: 10px;
        width: auto;
    }
    #menu__training
    {
        align-items: center;
        flex-direction: column;
        padding: 10px;
        width: auto;
    }
    #menu__personal-area, #menu__enter-register
    {
        align-items: center;
        flex-direction: column;
        padding: 10px;
        width: auto;
    }
    #menu__personal-area .menu__text, #menu__enter-register .menu__text
    {
        margin: 0;
    }
    .menu__icon
    {
        width: 30px;
        height: 30px;
        margin: 0 0 10px 0;
    }
    .menu__text
    {
        max-width: 100px;
        margin: 0 0 20px 0;
        text-align: center;
        word-wrap: break-word;
    }
    .menu_active
    {
        border-top-left-radius: 20px;
        border-bottom-right-radius: 0;
    }
    .menu__icon > svg
    {
        width: 30px;
        height: 30px;
    }
    /* ================================================== */
    /* Тело */
    body
    {
        flex-direction: column-reverse;
    }
    #body
    {
        height: 87%;
    }
    /* ================================================== */
    /* Голова */
    .header
    {
        flex-direction: row-reverse;
    }
    /* -------------------------------------------------- */
    /* Бургер */
    #burger
    {
        display: block;
    }
    #backgroundBurger
    {
        bottom: 110px;
    }
    /* -------------------------------------------------- */
    /* Выход */
    #exit
    {
        display: none;
        position: absolute;
        justify-content: flex-end;
        margin: -30px;
        left: 75%;
        bottom: 60%;
        z-index: 2;
    }
    /* ================================================== */
    /* Вид карточек */
    #title-category
    {
        padding: 0;
        margin: 0 10px 5px 0;
        font-size: 20pt;
        text-align: center;
    }
    #view-cards
    {
        position: absolute;
        display: none;
        justify-content: center;
        align-items: flex-end;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        margin: 0;
        bottom: 130px;
    }
    /* ================================================== */
    /* Тело */
    #body__training, #body__user
    {
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        margin: 0;
        flex-direction: column;
        left: 50%;
        transform: translateX(-50%);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        z-index: 3;
        bottom: 28%;
    }
    #body__training > div, #body__user > div
    {
        margin: 40px 0 0 0;
    }
    /* ================================================== */
}
/* ==================================================================================================== */
/* ------------------------------------------------576px----------------------------------------------- */
@media (max-width: 576px)
{
    /* ================================================== */
    /* Общие настройки */
    input
    {
        width: 300px;
        height: 50px;
    }
    button
    {
        width: 300px;
        height: 50px;
    }
    /* ================================================== */
    /* Меню */
    #menu
    {
        border-radius: 10px;
    }
    /* ================================================== */
    /* Тело */
    #body__container
    {
        border-radius: 10px;
        margin: 20px 5px 0px 5px;
    }
    /* ================================================== */
    /* Задний фон */
    .enter-register__logo-icon
    {
        border: 5px solid #735C4F;
        width: 50px;
        height: 50px;
        font-size: 30px;
        border-radius: 10px;
    }
    .enter-register__logo-text
    {
        font-size: 64px;
    }
    .enter-register__description
    {
        max-width: 320px;
        font-size: 20px;
    }
    /* ================================================== */
    /* Тренировать слова */
    .containerForTargetLetters
    {
        width: 30px;
        height: 30px;
        border-radius: 10px;
        font-size: 15pt;
    }
    #targetWord
    {
        width: 300px;
    }
    .exercisePicture
    {
        width: 100px;
    }
    /* ================================================== */
}
/* ================================================== */